body{
    background: #000;
    color: #fff;
}

#root{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

    #donut{
        background: cyan;
        border: 1px solid red;
    }

    p{
        text-align: center;
        color: #fff;
    }
}